
.k-block-type-button input {
    border: 1px solid #000;
    border-radius: 2rem;
    padding: .45rem .75rem;
    cursor: pointer;
    font: inherit;
    margin-left: 5px;
    text-align: center;
    width: auto;
}
.k-block-type-button input:focus {
    outline: 0;
    border-color: var(--color-focus);
}

.k-block-type-button input.uk-button-primary {
    border: 2px solid var(--primary);
}

.k-block-type-button input.uk-button-secondary {
    border: 2px solid var(--secondary);
}

.k-block-type-countup > .k-number-input {
    font-size: 36px; 
}

*:has(> .uk-text-center) {
    text-align: center;
}

*:has(> .uk-text-right) {
    text-align: right;
}

.k-layout-toolbar {
    justify-content: start;
    }

    
.iconplus {
    display: flex; /* Flexbox für nebeneinander Anordnung */
    gap: 8px; /* Abstand zwischen den Elementen */
}

.uitab {
    display: flex;
    flex-direction: column;
  }

  .ui-tab {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
  }
  
.ui-tab li {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    margin-right: 5px;
    list-style: none;
  }
  .ui-tab li:hover, .ui-tab li.active {
    background: #ddd;
  }